@use './sass/partials' as *;
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans+Georgian&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Questrial&family=Tinos&display=swap'); // font-family: 'Merriweather', serif;

// 

// $primarycolor: #d9cccc;

@mixin primaryfont {
    font-family: 'Noto Sans Georgian', sans-serif;
}

@mixin secondaryfont {
    font-family: 'Questrial', sans-serif;
}


* {
    margin: 0;
    @include primaryfont;
    box-sizing: border-box;
}

.logo {
    height: 70%;
}

.title {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: center;
    position: relative;

    div {
        border: 2px solid black;
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 0%;

        &:hover {
            color: grey;
        }
    }
}



.title-detail {
    display: flex;
    justify-content: center;
    height: 2px;
    gap: 1px;
    align-items: center;
    margin-bottom: 6px;
}

.title-detail p {
    font-size: 12px;
    color: #555555;
    padding: 0 4px;
    border-right: 1px solid grey;
    margin: 1px 0;

    &:hover {
        color: black;
    }

}

.title-detail p:last-child {
    border: none;

}

.navbar {
    display: flex;
    display: none;
    justify-content: center;
    gap: 3px;
    height: 20px;
    border-bottom: 2px solid #ccc;
    font-size: 14px;
    padding-bottom: 31px;
}

@media(min-width:$bp-m) {
    .navbar {
        display: flex;
    }

}

.index-label {
    color: grey;
    cursor: pointer;
    padding-top: 3px;

    &:hover {
        background-color: #F9F9F9;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;

        border-left: 1px solid #ccc;
        border-bottom: 4px solid #F9F9F9;
        background-color: #F9F9F9;
        border-radius: 2px;

    }

    .index-heading {
        padding: 0 0.3rem;
        border-bottom: none;

        height: 33px;
    }

    .unorderedList {
        position: fixed;
        background-color: #F9F9F9;
        width: 100%;
        margin: 0;
        top: 116px;
        left: 0px;
        display: grid;

        grid-template-columns: 1fr repeat(3, 18%) 1fr;
        padding-bottom: 50px;
        border-bottom: 2px solid $greyborder;
        z-index: 20;

        .index-element {
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            flex: 1;
        }


        li {
            list-style-type: none;
            padding: 0.5rem 0;
            font-size: 0.8rem;
            margin: 0;
            color: grey;

            @include secondaryfont();

            &:first-child {
                font-weight: 600;

            }
        }


    }

}




.unorderedList div:nth-child(3) ul.index-element {
    border-left: 1px solid $greyborder;
    border-right: 1px solid $greyborder;
    // height: 80%;
}



.frontpagearticle-container {
    // min-height: 190px;

    margin: 0 auto;
    // border-bottom: 1px solid $primarycolor;
    // padding-bottom: 20px;

    width: 94%;
    display: flex;
    flex-direction: column;


    .frontpagearticle-container-inner {
        width: 95%;
        border-bottom: 1px solid #d9cccc;
        margin: 0 auto;
        padding-bottom: 30px;
        cursor: pointer;



        * {
            padding: 0 10px;
            font-size: 16px;
        }

        h2 {
            font-size: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;

        }

        p,
        li {
            font-size: 14px;
            color: #222222;
        }

        img {
            max-width: 300px;
            width: 100%;

        }

        ul {
            margin-left: 20px;
        }

        li {
            padding-left: 0px;
        }
    }


}






@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 26px;

}





//beginning of SocialPanel
.panel-container {

    height: 248px;
    background-color: white;
    border-radius: 2px;
    transition: width 0.8s;
    border: 1px solid $primarycolor;

    overflow: hidden;
    display: grid;
    // grid-template-columns: 52px 200px;
    grid-template-rows: 28px repeat(5, 44px);
    width: 54px;
    // width: 200px;
    margin-bottom: 200px;
}

.panel-container * {
    @include secondaryfont();
    font-weight: 200;
    color: rgb(78, 78, 78);

}

.panel-share {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    transition: all 1.0s;
    font-size: 0.8rem;
}

.panel-container:hover .panel-share {
    width: 180px;
}

.panel-container:hover {
    flex-direction: row;
    width: 200px;
}

.one-icon {
    width: 200px;
    display: grid;
    grid-template-columns: 54px 126px;
    grid-template-rows: 44px;
    // align-items: center;
    // justify-items: stretch;

}


.panel-logo {
    align-self: center;
    justify-self: center;
}

.panel-img {
    height: 26px;
    align-self: center;
    justify-self: center;
}

.panel-name {
    align-self: center;


}

.panel-container:hover .panel-name {
    display: inline;

}


//End of SocialPanel



// Start of Article


.positionFixed {
    position: fixed;
    left: 12%;
    top: 22%;
}

.article-container {
    width: 1240px;
    margin: 22px auto 0px auto;
    display: grid;
    grid-template-columns: 860px 380px;
    position: relative;

}

.article-department {
    @include secondaryfont();
    color: #0274B6;
    font-size: 14px;
    margin-bottom: 10px;

}


.position-absolute {
    position: absolute;
    left: 0px;
    top: 0px;
}

.article-title {
    // font-family: 'Tinos', serif;
    font-family: Georgia, 'Times New Roman', Times, serif, serif;

    font-weight: 700;
    color: #222222;
    font-size: 28px;
    margin-bottom: 10px;
}

.article-snippet {
    margin-bottom: 14px;
    font-size: 18px;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
}

.main-image {
    width: 500px;
}

.photo-des {
    font-size: 12px;
    color: #333333;
    margin: 0 auto;

}


.main-left {
    display: flex;
    flex-direction: column;
    align-items: center;

    // align-items: center;

}


.article-center-block {

    margin: 0 auto;
    margin-top: 14px;

}

.article-save-icons {
    display: flex;
    // flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 10px 0px;

    height: 20px;
}

.article-save-icons * {
    margin-right: 1rem;
    cursor: pointer;
    font-size: 7px;
}

.article-save-icons p:nth-child(3) {
    margin-right: auto;

}

.article-save-icons p:nth-child(4) {
    margin-right: 0;

}

.article-listen-bar {
    height: 50px;
    background-color: #f8f6f6;
    border: 1px solid rgb(220, 210, 210);
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.article-listen-icon {
    color: white;
    font-size: 8px;
    background-color: #0274B6;
    border-radius: 100%;
    margin-left: 12px;
    margin-right: 6px;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-listen-title {
    margin-right: 12px;
    font-weight: 900;
}

.article-listen-time {
    margin-right: auto;
    font-weight: 100;
}

.article-listen-queue {
    margin-right: 12px;
    font-size: 14px;
    color: #0274B6;
}

.main-content p {
    margin-bottom: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    // width: 700px;
    color: $primarycolor;
    color: #333333;
}

.main-left-bottom {
    margin: 20px 0;
    border-bottom: 2px solid #d9cccc;
    border-top: 2px solid #d9cccc;

}



.bottom-title {
    font-size: 22px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 16px 0;
}

.bottom-des {
    margin-bottom: 12px;
}


.bottom-cq-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    // max-width: 500px
}

.bottom-grid-card {
    display: grid;
    width: 25%;

}

.bottom-card-img {
    height: 107px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8px;
}

.bottom-grid-card-text {
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}




.article-right-container {
    width: 300px;
    margin-bottom: 24px;
    margin: 10px;
}



.article-right-title {
    font-size: 18px;
    padding-bottom: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.popular-news-number {
    font-size: 26px;
    margin: 0;
    padding: 0;
    margin-right: 12px;
    margin-top: -5px;
    color: #d9cccc;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.popular-news-container {
    width: 300px;
    display: grid;
    grid-template-columns: 25px 154px 121px;
    padding-bottom: 12px;
    border-bottom: 1px solid #d9cccc;
    cursor: pointer;

}

.article-right-title {
    font-size: 16px;
    color: #333333;
}

.article-right-img {
    margin: 0;
    padding: 0;
    width: 100%;
}

.show-convo-container {
    border-bottom: 2px solid #d9cccc;
    width: 80%;
}

.show-convo {
    background-color: #0274B6;
    height: 45px;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

}

//End of Article
.fixed-article-container {
    display: grid;
    grid-template-columns: auto;
    margin-top: 30px;
    position: relative;
}

.display-bottom-g {
    display: none;
}

@media (min-width: $bp-m) {

    .fixed-article-container {
        grid-template-columns: 1fr 540px 300px 1fr;
    }

    .main-left {
        max-width: 990px;
        grid-column: 2;
    }

    .display-bottom-g {
        display: inline;
    }

}

@media (min-width: $bp-l) {


    .fixed-article-container {
        grid-template-columns: 1fr 860px 300px 1fr;
    }

    .article-center-block {
        width: 700px;


    }
}

//Start of Fix Article




//End of Fix Article
//Footer


.to-top-button {
    background-color: #BBBBBB;

    height: 30px;
    width: 98px;
    font-size: 11px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: absolute;
    right: -1px;
    top: -36px;
    cursor: pointer;



}

.to-top-button span {
    padding-top: 4px;
    font-size: 14px;
    font-weight: 400;
    padding-left: 3px;
    color: white;
}

.footer-container {

    margin: 0 auto;
    position: relative;
    background-color: #E9E9E9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}


.narrow-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.narrow-to-top>div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #a29b9b;
    height: 40px;
    width: 500px;
}

.narrow-to-top p {
    font-size: 13px;
    min-width: 38px;
}

.footer-banner {
    height: 72px;
    display: flex;
    display: none;
    padding-top: 6px;
    font-size: 12px;
    max-width: 1260px;
    background-color: #E9E9E9;
    width: 80%;


}

.footer-banner img {
    height: 70%;
    padding: 0px 18px;
}

.english-edition {
    margin-right: auto;
}

.footer-sign-out {
    position: relative;
}

.footer-list-outer {
    width: 100%;
    background-color: #F4F4F4;
    // display: none;


}

.footer-list-container {
    height: 250px;
    display: flex;
    padding-top: 16px;
    padding-left: 12px;
    background-color: transparent;
    max-width: 1260px;
    display: none;
    width: 80%;
    justify-content: space-between;

}

.footer-list-container p {
    padding-left: 10px;
    font-size: 12px;
    padding-bottom: 3px;
    border-left: 2px solid #d9cccc;

}

$blue-hover: #0839b5;

.footer-list-container div:nth-child(1) p {
    border: none;
}

.footer-list-container p:nth-child(1) {
    font-weight: 600;
    padding-bottom: 6px;
    font-size: 13px;
}

.footer-list-container div :not(:first-child):hover {
    color: $blue-hover;
}


.footer-social-outer {
    width: 100%;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;


}

.footer-social-inner {
    min-height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    flex-wrap: wrap;
    width: 450px;

}

.footer-social-inner>* {
    padding: 0 16px;
}

.footer-social-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 400px;
    min-height: 200px;
}

.footer-social-text>p {
    font-size: 14px;
}

.social-button {
    background-image: url(https://vir.wsj.net/fp/assets/webpack4/img/appstore.a6e93ba3.svg);

    background-color: #333333;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    width: 80px;
    min-height: 25px;
    border-radius: 3px;

}

.google-button {
    margin-right: 16px;
    background-image: url(https://vir.wsj.net/fp/assets/webpack4/img/google-play.4699f3c2.svg);

}


.footer-other-product,
.footer-other-product-two {
    background-color: #E9E9E9;
    height: 39px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12px;
}

.footer-other-product * {
    margin-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    border-right: #a29b9b 1px solid;
}

.footer-other-product :not(:first-child):hover,
.footer-other-product-two *:hover {
    color: $blue-hover;
}

.footer-other-product p:nth-child(1) {
    padding: 0;
    border: none;
    font-weight: 500;
}

.footer-other-product-two * {
    margin-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
    border-right: #a29b9b 1px solid;
}


.footer-terms {
    height: 38px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-terms * {
    padding: 0 12px;
    font-size: 11px;
    border-right: #a29b9b 1px solid;

}

.footer-terms p:last-child {
    border-right: none;
}

.footer-terms *:hover {
    color: $blue-hover;
}


.footer-terms-outer {
    width: 100%;
    display: none;
}

.footer-copyright {
    height: 70px;
    background-color: #F4F4F4;
    text-align: center;
    font-size: 11px;
    width: 100%;
}


@media (min-width: $bp-m) {
    .narrow-to-top {
        display: none;
    }

    .footer-terms-outer {

        display: inline;
    }

    .footer-list-outer {

        display: flex;
        justify-content: center;

    }

    .footer-list-container {

        display: flex;


    }

    .footer-banner {

        display: flex;
    }

    .footer-social-inner {
        width: unset;
    }

    .footer-social-text {
        display: none;
    }

    .footer-other-product,
    .footer-other-product-two {

        display: flex;

    }
}

//end of footer


//beginning of front page testing
.frontpage-container {
    margin-top: 50px;
}

.frontpage-container-left {
    display: flex;
    flex-direction: column;
    // border-right: 1px solid $greyborder;
    // border-bottom: 1px solid $greyborder;

}


.top-main-subcontainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-bottom: $greyborder 1px solid;
    overflow: hidden;

}



.market-main-subcontainer,
.top-second-subcontainer {
    border-bottom: 1px solid $greyborder;

}




.top-second-subcontainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.front-second-card {
    cursor: pointer;

    * {
        padding-left: 10px;
    }

    h3 {
        font-size: 1rem;
        width: 90%;
        margin-bottom: 2px;
    }

    img {
        width: 90%;
        max-width: 250px;
    }

    .timer-container {
        display: flex;

    }

    .clock {
        width: 16px;
        margin: 0;
        padding: 0;
        display: inline;
        margin-bottom: 15px;

    }

    p {
        display: inline;
        font-size: 12px;
    }
}





.right-article-col {
    display: flex;
    flex-direction: column;
    height: 100px;
    flex-wrap: wrap;
    align-items: flex-start;

    div {
        width: 300px;

    }
}



.hidden {
    display: none;
}

@media (min-width:$bp-m) {
    .frontpage-container {
        display: flex;
        justify-content: center;
    }

    .top-main-subcontainer {
        flex-wrap: wrap;
        height: 820px;
        width: 600px;
        // padding-right: 0;

    }

    .frontpagearticle-container {
        max-width: 50%;
        border-right: 1px solid $greyborder;
        margin: 0;
        flex-grow: 1;


    }

    .top-second-subcontainer {
        flex-direction: row;
        width: 600px;
        border-right: 1px solid #d2d2d2;
        justify-content: space-between;

    }

    .item4 {
        height: 212px;
        margin: 0;
        border-bottom: none !important;
    }



    .right-article-col {
        flex-direction: column;
        height: unset;
    }

    .front-second-card {
        font-size: 18px;
        min-width: 150px;
    }

    .front-second-card>p {
        display: none;
    }
}

@media (min-width:$bp-l) {

    .frontpage-container-left {
        flex-direction: row;

    }

    .top-main-subcontainer {
        flex-wrap: wrap;
        height: 964px;
        margin-right: 0;


    }

    .top-second-subcontainer {
        flex-direction: column;
        width: 200px;
        height: 964px;
        border-top: unset;
        justify-content: flex-start;

    }

    .subcontainer-article-last {
        flex-grow: 2;
        border-right: 1px solid #d2d2d2;
        max-width: 48%;
    }

}

//end of front page


//sign in page
.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.signin-form {
    width: 600px;
    height: 200px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.account-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        flex-direction: column;
        color: pink;
        min-width: 500px;
        input, textarea{
            margin-bottom: 20px;
            width: 80%;
        }
        button {
            width: 80%;
            background-color: #0274B6;
        }
    }

}